html {
  box-sizing: border-box;
}

html { 
  background: url("./wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.button {
  background: #29292b;
  border: 1px solid white;
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 2.2rem;
  width: 50%;
}

.treeList-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
  @media (min-width: 45rem) {
    padding: 0 20rem;
}
}


.treeImage-container {
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
  @media (min-width: 45rem) {
    padding: 0 20rem;
}
}

.listItem{
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 10px;
  background-color: #629903a6;
  color: white;
}

.imageContainer{
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 10px;
  color: gray;
}

.image{
  width: 100%;
}


.titles{
  padding: 0;
  margin: 0;
  color: #322709;
}

.subTitles{
  @extend .titles;
  color: white;
}